name: ion-vscode-plugin CI build

on: [push, pull_request]

jobs:
  build:
    name: Build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
	    # only lts node version for now
        node-version: [12.x]

    steps:
      - name: Git Checkout 
        uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies 
        run: npm ci
      - name: Compile 
        run: npm run build --if-present
      - name: Run tests
        run: npm test
